a.icon {
	color: #4d4f53;
}

a.color-rss {
	color: #ff6600;
}

a.color-twitter {
	color: #55acee;
}

a.color-instagram {
	color: #3f729b;
}

a.color-black {
	color: #000;
}

a.color-github {
	color: #333333;
}

a.color-youtube {
	color: #cd201f;
}

a.color-facebook {
	color: #3b5998;
}

a.color-medium {
	color: #00ab6b;
}

a.color-stackoverflow {
	color: #fe7a15;
}